<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginControll</servlet-name>
        <servlet-class>Controller.LoginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>Controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>Controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestViewController</servlet-name>
        <servlet-class>Controller.RequestViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRequest</servlet-name>
        <servlet-class>Controller.DetailRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControll</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestViewController</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRequest</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
</web-app>
